* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    position: relative;
    line-height: 1.6;
    font-size: 16px;
    width: 100%;
    color: #2C2926;
}


header {
    position: sticky;
    left: 0;
    top: 0;
    right: 0;
    background: #fff;
    border-bottom: 1px solid #ddd;
    width: 100%;
    z-index: 10;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.topmost {
    position: relative;
    width: 100%;
    background-color: #2C2926;
    padding: 10px 20px;
}

.topmost a {
    display: inline-block;
    color: #fff;
    margin-right: 10px;
}


header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}

.logo img {
    width: 100%;
}

header nav ul {
    display: flex;
    margin-right: 30px;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #333;
    font-weight: 500;
}

.apply-btn {
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    background: #000;
    color: #fff;
}

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    margin-bottom: 20px;
    background-color: #2C2926;
    overflow: hidden;
}

.banner-img {
    position: absolute;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    object-fit: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
}

.banner-img img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
    width: 500px;
    height: 100%;
    position: absolute;
    top: 10%;
    left: 30px;
    bottom: 0;
    z-index: 2;
    color: #fff;
}

.banner-text h1 {
    font-size: 52px;
    font-weight: bolder;
    letter-spacing: 3.5px;
    line-height: 1.5;
}

.vehicle {
    display: flex;
    gap: 10px;
}

.vehicle img {
    width: 30px;
    overflow: hidden;
}

.orange-btn {
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    background: #ff5733;
    color: #fff;
}


.partners {
    margin-top: 90px;
}

.steps {
    display: flex;
    justify-content: stretch;
    align-items: center;
    padding: 95px 10px;
    width: 100%;
}

.steps-text {
    width: 100%;
    max-width: 339px;
    padding: 0 20px;
}

.steps-text h2 {
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.1;
}

.steps-text h2 span {
    color: #FF4300;
}

.steps-text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 20px;
}

.get-started {
    background-color: #2C2926;
    color: #FFFFFF;
    border-color: transparent;
    padding: 5px 10px;
    border-radius: 30px;
}

.steps-img-bg {
    flex: 1 0;
    background: url('assets/step-img-bg.png') no-repeat center/cover;
    overflow: hidden;
}
.steps-img {
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 20px;
    background: #FFFFFF;
    opacity: 0.9;
    overflow: hidden;
}

.step p{
    font-size: 12px;
    font-weight: 600;
    color: #FF4300;
    text-align: center;
}

.step img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
}


.customers {
    width: 100%;
    height: 100%;
    position: relative;
}

.customers-video {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
    object-position: center;
    z-index: 0;
    overflow: hidden;
}
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;

}

.customers-text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 290px;
    height: 450px;
    position: absolute;
    top: 5%;
    left: 30px;
    bottom: 0;
    z-index: 2;
    color: #fff;
}

.customers-text h2  {
    font-size: 46px;
    line-height: 1.1;
    margin-bottom: 10px;
}
.customers-text h2 span {
    color: #FF4300;
}



.customers blockquote {
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 10px;
}

.vehicles-choice {
    width: 100%;
}

.vehicles {
    display: flex;
    align-items: start  ;
    justify-content: start;
    padding: 95px 30px;
    margin-bottom: 30px;
    width: 100%;
}

.vehicles-text {
    text-align: left;
    max-width: 330px;
    width: 100%;
}

.vehicles-text h2 {
    font-size: 46px;
    margin-bottom: 10px;
    line-height: 1.1;
}
.vehicles-text h2 span {
    color: #FF4300;
}
.vehicles p {
    margin-bottom: 30px;
}

.vehicle-grid {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.vehicles-img img {
    width: 100%;
}


.vehicles-dream {
    padding: 30px 75px;
    text-align: center;
}

.vehicles-dream p {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.9px;
}

.vehicles-logos ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 125px;
}

.vehicles-logos ul li {
    width: 82px;
    margin: 20px;
}

.vehicles-logos img {
    width: 100%;
}

.impact {
    width: 100%;
    background: #333;
    color: #fff;
    padding: 50px 20px;
    text-align: center;
}

.impact h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

.impact-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.impact-item {
    flex-shrink: 0;
    max-width: 290px;
    width: 100%;
}

.impact-item h3 {
    font-size: 48px;
    color: #FFFFFF;
}

.impact-item h4 {
    font-size: 24px;
    margin: 10px 0;
}

.impact-item p {
    font-weight: 400;
    color: #999791;
}

.app {
    position: relative;
    width: 100%;
    background: #fdfbfb;
    color: #fff;
}

.app-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 45px;
    padding: 0 95px;
    width: 100%;
    z-index: 1;
}

.app-text {
    width: 100%;
    padding-right: 90px;
    margin-right: 20px;
}

.app-text h2 {
    font-size: 36px;
    margin-bottom: 20px;
    line-height: 1.1;
}

.app-text p {
    margin-bottom: 20px;
}

.app-image  {
    width: 100%;
    order: -1;
}
.app-image img {
    width: 100%;
    height: 100%;
}

.btn-google {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background: #000;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
}

.app-inner-bg {
    position: absolute;
    left: 0;
    top: 20%;
    right: 20%;
    background: rgb(255, 67, 0);
    height: 27rem;
    border-radius: 0px 215px 215px 0px;
    z-index: 0;
}

footer {
    width: 100%;
    background-color: #2C2926;
    color: #fff;
    padding: 30px 20px;
}

.footer-links {
    display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   padding: 20px 30px;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
}

.footer-logo {
    margin: -45px 0 30px;
}


.footer-socials ul {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.footer-socials a {
    color: rgb(153, 151, 145);
}

.footer-nav {
    width: 100%;
}

.footer-nav nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footer-nav a {
    color: #fdfbfb;
}

.footer-region {
    margin-top: 30px;
    text-align: right;
}

.footer-region p {
    display: block;
    margin-bottom: 10px;
    color: rgb(153, 151, 145);
}

.footer-legal {
    display: flex;
    justify-content: space-between;
    color: rgb(153, 151, 145);
    border-top: 1px solid rgb(153, 151, 145);
    padding-top: 30px;

}

.footer-legal ul {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.footer-legal a {
    color: rgb(153, 151, 145);
}



